$tool-width: 1rem;
$tool-width-big: $tool-width;
$tool-height: 1rem;
$tool-height-big: $tool-height;
$tool-font-size: 1rem;
$tool-font-size-big: $tool-font-size;

$tool-close-icon: '\2717';
$tool-maximize-icon: '\e635';
$tool-restore-icon: '\e634';
