/* Roboto font faces */
@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: 300 500;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: 300 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-weight: 600 900;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-Light.ttf") format("truetype");
  font-weight: 100 200;
}
