/* Sizing */
$spinuptrigger-icon-size: $trigger-icon-size;
$spinuptriggericon-size-big: $spinuptrigger-icon-size;
$spinuptrigger-icon-font-size: $trigger-icon-font-size;
$spinuptrigger-icon-font-size-big: $spinuptrigger-icon-font-size;

/* Icons */
$spinuptrigger-icon: '\e696';
$spinuptrigger-icon-big: $spinuptrigger-icon;
