/* Sizing */
$spindowntrigger-icon-size: $trigger-icon-size;
$spindowntrigger-icon-size-big: $spindowntrigger-icon-size;
$spindowntrigger-icon-font-size: $trigger-icon-font-size;
$spindowntrigger-icon-font-size-big: $spindowntrigger-icon-font-size;

/* Icons */
$spindowntrigger-icon: '\e697';
$spindowntrigger-icon-big: $spindowntrigger-icon;
