/* Sizing */
$trigger-icon-size: 1rem;
$trigger-icon-size-big: $trigger-icon-size;
$trigger-icon-font-size: 1rem;
$trigger-icon-font-size-big: $trigger-icon-font-size;

/* Icons */
$trigger-icon: '\2304';
